<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="./assets/index.css">
</head>
<body>

<div id="top">
    <h1>{{name}}</h1>

    <i>{{{description}}}</i>
</div>

<div id="posts">
    {{#posts}}
        {{#unless @first}}
            <hr>
        {{/unless}}
        <div class="post">
            <a href="./post-{{id}}.html">
                <h2>{{title}}</h2>
                <h3>{{subtitle}}</h3>
                <i>{{date}}</i>
            </a>

            {{#tags}}
                <a class="tag"
                   href="./tag-{{this}}.html">
                    {{this}}
                </a>
            {{/tags}}
        </div>
    {{/posts}}
</div>

</body>
</html>