<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="./assets/post.css">
</head>
<body>

<div style="float: left">
    <br>
    <a href="index.html" id="byline">
        {{name}}
    </a>
    <hr>
</div>



<div id="top">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <i>{{date}}</i>
</div>

<hr>

<article>
    {{{body}}}
</article>

</body>
</html>